*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

table tr th{
  border: 1px solid black;
}

table{
  margin: 50px auto;
  width:90%
}

.inputbox{
  text-align: center;
}

td{
  border: 1px solid black;

}

.App h1{
text-align: center;
padding-top: 10px;
margin-bottom: 40px;
}
 
form{
  display: flex;

}

.userDetails{
  background-color: aqua;
  height: 80px;
   
}